GP_writeup/neurips_2020.synctex.gz
GP_writeup/neurips_2020.log
GP_writeup/neurips_2020.aux
GP_writeup/neurips_2020.bbl
GP_writeup/neurips_2020.blg
GP_writeup/neurips_2020.fdb_latexmk
GP_writeup/neurips_2020.fls
GP_writeup/neurips_2020.out
*.log
.DS_Store
